# Database
DATABASE_URL=
# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Server Settings
NODE_ENV=
PRODUCTION_URL=
WEB_APP_URL=

# Oauth
OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=
OAUTH_PROXY_SECRET=

# CORS & Trusted Origins (comma-separated)
ALLOWED_ORIGINS=
